dist
build
coverage
node_modules
pnpm-lock.yaml
apps/**/dist
apps/**/dist/**
apps/**/build
apps/**/build/**
packages/**/dist
packages/**/dist/**
shared/**/dist
shared/**/dist/**
infra/**/dist
infra/**/dist/**
